@import "tailwindcss";

nav{
  background-color: #031222;
}

body {
  background: #0b1c2c;
}

main {
  padding: 25px;
  color: #8b96a1;
}

h1 {
  font-size: 30pt;
  font-weight: bolder;
  color: white;
}

h2 {
  font-size: 18pt;
  font-weight: bolder;
  color: white;
}

div#basicdata {
  margin-top: 10pt;
  padding-bottom: 30pt;
  display: flex;
  width: 100%;
}

div.chip {
  flex: 1;
  border-radius: 10pt;
  background-color: #172859;
  padding: 15pt;
  margin-right: 20pt;
}

p.data {
  font-family: monospace;
  font-size: 20pt;
  font-weight: bolder;
  color: #01c9d5;
}

div#liste_voitures {
  width: 800pt;
}

div.voiture_ligne {
  display: flex;
  font-size: 13pt;
}

p.ligne {
  flex: 1;
  padding: 3pt;
  font-family: monospace;
  color: #01c9d5;
}

p.firstline {
  font-family: system-ui;
  color: #8b96a1
}

p.firstcol {
  flex: none;
  width: 15%;
  color: #8b96a1;
  font-weight: bold;
}

div.chip_ac {
  flex: 1;
  border-radius: 10pt;
  background-color: #96c3f0;
  padding: 15pt;
  margin-right: 20pt;
}

p.info {
  font-family: monospace;
  font-size: 15pt;
  font-weight: bolder;
  color: #FFFFFF;
}

button.btn_ac {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.encad_btn {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
div.formulaire {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 10px;
}

p.firstcol_little {
  flex: none;
  width: 50%;
  color: #8b96a1;
  font-weight: bold;
}